!!! 5
%html(lang="#{I18n.locale}")
  %head
    %meta(charset='utf-8')
    %meta(name="robots" content="noindex")
    %meta(content='width=device-width, initial-scale=1.0' name='viewport')

  %body
    = render partial: "tournaments/raw", locals: { tournament: @tournament }
