%p
  THE TOURNAMENTでは、初期設定で３位決定戦を行う設定になっています。
  %br
  もし３位決定戦を行わない場合は、以下の手順で設定をオフにしてください。
%br
%p.h3
  = fa_icon('caret-right')
  「基本情報変更」メニューを選択
%br
.row
  .col-lg-9
    = image_tag('docs/2-1/1.jpg', class: 'img-responsive', style: 'border: 1px solid #ddd;')
%br


%hr
%br
%br


%p.h3
  = fa_icon('caret-right')
  「３位決定戦」のチェックボックスを変更
%br
.row
  .col-lg-9
    = image_tag('docs/2-1/2.jpg', class: 'img-responsive', style: 'border: 1px solid #ddd;')
%br
