%p
  トーナメント作成後、自動的に以下の参加者登録画面が表示されます。
  %br
  デフォルトで表示されている「Player1」などのところに、実際の参加者の名前を入力してください。
%br
.row
  .col-lg-9
    = image_tag('docs/1-2/1.jpg', class: 'img-responsive', style: 'border: 1px solid #ddd;')
%br
%br
.panel.panel-warning
  .panel-heading
    = fa_icon('frown-o')
    参加者登録画面にたどり着けない
  .panel-body
    もしこの画面にたどり着けなくなってしまった場合は、トーナメントの編集メニューから「参加者の更新」を選択してください。
    （詳しくは「一度作ったトーナメントを編集する」を参照）
%br
